{% extends 'base.html' %}

{% block content %}
    <nav class="navbar bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Django Project</a>
    </div>
    </nav>
<div class="list-group w-auto">
    <a href="https://github.com/Kasper-Bankler" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/github.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Github</h6>
          <p class="mb-0 opacity-75">Check out my other projects on GitHub</p>
        </div>
      </div>
    </a>
    <a href="mailto: kasperbankler@gmail.com" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/mail.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Mail</h6>
          <p class="mb-0 opacity-75">Send me an email</p>
        </div>
      </div>
    </a>  
{% endblock  %}